@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;
    --head-color: #103642;
    --contrast-color: #2888A6;
}

body{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 41%, rgba(208,228,232,1) 92%);
    display: grid;
    grid-template-areas: "head nav"
                         "head main"
                         "head main"
                         "foot foot";
    grid-template-columns: auto 2fr;
    grid-template-rows: auto auto 1fr auto;
}


a{
    color: var(--head-color);
}

a:hover {
    color: var(--contrast-color);
}

header{
    color: var(--contrast-color);
}

/* @media screen and (min-width: 25em){
    body{
        grid-template-areas: "head head"
                             "nav main"
                             "foot foot";
        grid-template-columns: 1fr 4fr;
        grid-template-rows: auto 1fr auto;
    }
} */

body > *{
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space)
}

h1, h2, h3{
    line-height: 1.2;
    font-family: 'Arvo', serif;
    color: var(--head-color);
}

body#about img{ height: 15em; }

body > nav ul{
    list-style-type: none;
    padding: 0;
}

body > nav ul li{
    display: inline-block;
    margin-top: 1.5em;
    padding-right: 1em;
}

p{
    max-width: 50em;
}

header{ grid-area: head; }
nav{ grid-area: nav; }
main{ grid-area: main; }
footer{ grid-area: foot; }

/* rem is em based on root, not parent */
header, footer{padding-top: var(--vertical-space); padding-bottom: var(--vertical-space);}
header h1, footer h1{margin: 0;}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 25em){
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems img{
    max-width: 50%;
}


li > img{
    width: 500px !important;
}

/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
